{% extends 'base.html' %}
{% load static %}
{% block body %}


      <main class="main-content px-md-0 px-3" id="section-blog">
        <section
          class="site-section-hero mt-0"
          id="breadcrumb"
          style="background: rgba(0, 0, 0, 0.01)"
        >
          <div
            class="row align-items-center"
            style="backdrop-filter: blur(10px)"
          >
            <nav aria-label=" breadcrumb" class="">
              <ol class="breadcrumb mb-0 bg-transparent">
                <li style="font-size: larger" class="breadcrumb-item">
                  <a href="#">Home</a>
                </li>
                <li style="font-size: larger" class="breadcrumb-item">Blog</li>
              </ol>
            </nav>
          </div>
        </section>

        <!-- 
            <section class="row align-items-center justify-content-center">
                <div class="col-md-7 text-center hero-text" style="padding: 3em 1.2em;">
                    <h1 class="heading" data-aos="fade-in" style="font-variant: small-caps">
                        Welcome to My Blog
                    </h1>
                    <p class="lead my-4" data-aos="fade-up" data-aos-delay="100">
                        Explore the world through the lens of our photographers. Witness moments frozen in time,
                        stunning landscapes, and captivating stories.
                    </p>
                </div>
            </section> -->

        <div class="container-fluid site-section" style="padding: 2em 0">
          <section class="site-section" id="section-blog" style="padding: 0">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-md-10">
                  <div class="row">
                    <h2
                      class="heading p-0"
                      data-aos="fade-up"
                      style="
                        font-variant: small-caps;
                        border-bottom: 5px solid #dd4a48;
                      "
                    >
                      Blog
                    </h2>
                    <div class="col-md-12 mb-4" data-aos="fade-up">
                      <div
                        class="d-md-flex d-block blog-entry align-items-start"
                      >
                        <div class="mr-0 mr-md-5 mb-3 img-wrap">
                          <a href="#"
                            ><img
                              src="{% static 'images/img_5.jpg' %}"
                              alt="Image"
                              class="img-fluid mb-0"
                          /></a>
                        </div>
                        <div>
                          <h2 class="mt-0 mb-2">
                            <a href="#"
                              >Capturing Elegance: Celebrating Women in Modern
                              Native Attire</a
                            >
                          </h2>
                          <div class="meta mb-3">
                            Posted by Ben Jones on <a href="#">Jan 18, 2019</a>
                          </div>
                          <p>
                            Discover Modern Elegance: Women's Beauty in Vibrant
                            Native Attire Through Photography.
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mb-4" data-aos="fade-up">
                      <div
                        class="d-md-flex d-block blog-entry align-items-start"
                      >
                        <div class="mr-0 mr-md-5 mb-3 img-wrap">
                          <a href="#"
                            ><img
                              src="{% static 'images/img_2.jpg' %}"
                              alt="Image"
                              class="img-fluid mb-0"
                          /></a>
                        </div>
                        <div>
                          <h2 class="mt-0 mb-2">
                            <a href="#"
                              >Lorem ipsum dolor sit amet consectetur
                              adipisicing elit</a
                            >
                          </h2>
                          <div class="meta mb-3">
                            Posted by Ben Jones on <a href="#">Jan 18, 2019</a>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Officiis aliquid doloremque qui, saepe alias
                            eum?
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mb-4" data-aos="fade-up">
                      <div
                        class="d-md-flex d-block blog-entry align-items-start"
                      >
                        <div class="mr-0 mr-md-5 mb-3 img-wrap">
                          <a href="#"
                            ><img
                              src="{% static 'images/img_3.jpg' %}"
                              alt="Image"
                              class="img-fluid mb-0"
                          /></a>
                        </div>
                        <div>
                          <h2 class="mt-0 mb-2">
                            <a href="#"
                              >Lorem ipsum dolor sit amet consectetur
                              adipisicing elit</a
                            >
                          </h2>
                          <div class="meta mb-3">
                            Posted by Ben Jones on <a href="#">Jan 18, 2019</a>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Officiis aliquid doloremque qui, saepe alias
                            eum?
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 mb-4" data-aos="fade-up">
                      <div
                        class="d-md-flex d-block blog-entry align-items-start"
                      >
                        <div class="mr-0 mr-md-5 mb-3 img-wrap">
                          <a href="#"
                            ><img
                              src="{% static 'images/img_4.jpg' %}"
                              alt="Image"
                              class="img-fluid mb-0"
                          /></a>
                        </div>
                        <div>
                          <h2 class="mt-0 mb-2">
                            <a href="#"
                              >Lorem ipsum dolor sit amet consectetur
                              adipisicing elit</a
                            >
                          </h2>
                          <div class="meta mb-3">
                            Posted by Ben Jones on <a href="#">Jan 18, 2019</a>
                          </div>
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Officiis aliquid doloremque qui, saepe alias
                            eum?
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="col-12 text-center">
                      <div class="custom-pagination">
                        <span>1</span>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <span>...</span>
                        <a href="#">7</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="row justify-content-center">
            <div class="col-md-12 text-center pt-5">
              <p style="font-variant: small-caps; font-size: large">
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script>
                . All Rights Reserved. &mdash; Designed by
                <a href="#">Josh Kean</a>
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>

    {% endblock body%}
