{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ebunife Pixels" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />

    <meta name="description"
        content="Ebunife Pixels is your go-to destination for professional photography services. We specialize in capturing the magic of weddings, birthdays, naming ceremonies, and more. Let us turn your moments into timeless memories. Contact us today!" />
    <meta name="keywords"
        content="photography, professional photography, weddings, birthdays, naming ceremonies, event photography, Ebunife Pixels, Ebunife, special occasions, memories, photo services" />

    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600, 700,900|Oswald:400,700"
        rel="stylesheet" />

    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}" />

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}" />

    <link rel="stylesheet" href="{% static 'css/aos.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/claymorphism-css/dist/clay.css" />

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Ebunife Pixels - Professional Photography Services</title>
    <style>
        @media screen and (max-width: 767px) {
            .width {
                width: 100% !important;
            }

            .jojo {
                padding-inline: 0;
            }
        }
    </style>
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200" style="overflow-x: hidden">
    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <main class="main-content px-md-0 p-md-3 p-1 mx-md-3" style="width: initial" id="blog-section">
            <div class="m-md-3 m-1" style="width: calc(100% - 100px); float: left">
                <a href="{% url 'blog' %}" class="btn btn-outline-primary">👈 Go Back</a>
            </div>

            <div class="container-fluid site-section py-3" style="padding: 0; clear: both">
                <section class="site-section" id="section-blog" style="padding: 0">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-12 mb-4 jojo" data-aos="fade-up">
                                        <div class="justify-self-center blog-entry align-items-start">
                                            <div
                                                class="mr-0 mr-md-5 mb-3 img-wrap justify-content-center d-flex flex-column align-items-center">
                                                <h1 class="mt-0 mb-2 text-center text-dark h2"
                                                    style="font-variant: small-caps">
                                                    Capturing Elegance: Celebrating Women in Modern Native Attire
                                                </h1>
                                                <div class="col-lg-9 w-75 mt-lg-0 width">
                                                    <img src="{% static 'images/img_5.jpg' %}" alt="Image"
                                                        class="img-fluid mb-0 rounded" />
                                                </div>
                                            </div>
                                            <div>
                                                <p>Step into a stylish world where tradition and today's fashion unite.
                                                    Explore the beauty of women in modern native
                                                    outfits through our photographer's lens. Get ready for a journey
                                                    celebrating their timeless elegance.</p>
                                                <p>In the tapestry of modern style, the allure of traditional attire
                                                    shines brilliantly. Today, we celebrate the timeless
                                                    grace of women draped in native garments. From vibrant prints to
                                                    elegant silhouettes, each image captured tells a story
                                                    of cultural pride and contemporary sophistication. The lens not only
                                                    freezes moments but also reveals the beauty of
                                                    diversity and the strength found in embracing heritage. Our
                                                    photographer seeks to immortalize these tales, showcasing
                                                    the resplendence of women in modern native wear. Join us on a visual
                                                    journey that honors tradition while embracing the
                                                    spirit of the present – a celebration of womanhood through the
                                                    artistry of the lens.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="shadow-sm mb-4 card border-light">
                                    <div class="pb-0 card-body">
                                        <div class="table-responsive">
                                            <table class="table-centered table-nowrap rounded table">
                                                <thead class="">
                                                    <tr>
                                                        <th class="border-0 text-nowrap">id</th>
                                                        <th class="border-0 text-nowrap">
                                                            Traffic Source
                                                        </th>
                                                        <th class="border-0 text-nowrap">Source Type</th>
                                                        <th class="border-0 text-nowrap">Category</th>
                                                        <th class="border-0 text-nowrap">Global Rank</th>
                                                        <th class="border-0 text-nowrap">
                                                            Traffic Share
                                                        </th>
                                                        <th class="border-0 text-nowrap">Change</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a class="text-primary fw-bold card-link" href="#">1</a>
                                                        </td>
                                                        <td class="fw-bold">Direct</td>
                                                        <td>Direct</td>
                                                        <td>--</td>
                                                        <td>--</td>
                                                        <td>
                                                            <div class="d-flex align-items-center row">
                                                                <div class="px-0 col-xl-2 col-12">
                                                                    <small class="fw-bold">51%</small>
                                                                </div>
                                                                <div class="px-0 px-xl-1 col-xl-10 col-12">
                                                                    <div class="progress-lg mb-0 progress">
                                                                        <div role="progressbar"
                                                                            class="progress-bar bg-primary"
                                                                            aria-valuenow="51" aria-valuemin="0"
                                                                            aria-valuemax="100" style="width: 51%">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span class="text-success"><span
                                                                    class="fw-bold ms-1">2.45%</span></span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="container-fluid my-5 px-0">
                                    <ul class="row row-cols-2 list-about-2 mt-sm-4 mt-3 p-0">
                                        <li class="py-2 col-lg-6 col-12">
                                            <i class="far fa-check-square mr-2"></i>
                                            Vibrant Prints, Timeless Appeal
                                        </li>
                                        <li class="py-2 col-lg-6 col-12">
                                            <i class="mr-2">🌺</i>
                                            Vibrant Prints, Timeless Appeal
                                        </li>
                                        <li class="py-2 col-lg-6 col-12">
                                            <i class="mr-2">👗</i>
                                            Elegance Redefined: Modern Silhouettes
                                        </li>
                                        <li class="py-2 col-lg-6 col-12">
                                            <i class="mr-2">🌍</i>
                                            Cultural Pride in Every Thread
                                        </li>
                                        <li class="py-2 col-lg-6 col-12">
                                            <i class="mr-2">💪</i>
                                            Modern Women, Traditional Roots
                                        </li>
                                    </ul>
                                </div>
                                <div class="meta mb-3">
                                    Posted by Ben Jones on <a href="#">Jan 18, 2019</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/lozad.min.js' %}"></script>

    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>